@tailwind base;

h1 {
  font-family: theme("fontFamily.display");
}

h2 {
  font-family: theme("fontFamily.display");
}

h3 {
  font-family: theme("fontFamily.display");
}

p {
  font-family: theme("fontFamily.body");
}

@tailwind components;

@tailwind utilities;
