@tailwind base;

html {
}

h1 {
  color: theme("colors.gray.900");
  font-family: theme("fontFamily.display");
}

h2 {
  font-family: theme("fontFamily.display");
}

h3 {
  font-family: theme("fontFamily.display");
}

p {
  font-family: theme("fontFamily.body");
}

p a {
  @apply underline;
}

button {
  font-family: theme("fontFamily.body");
}

input {
  font-family: theme("fontFamily.body");
}

.title-font {
  color: theme("colors.gray.900");
  @apply font-black text-4xl mb-8;
}

.body-font {
  color: theme("colors.gray.800");
  font-weight: 300;
  @apply leading-loose text-base mb-4;
}

/* all default styles for the blog post display */
.blog-post p {
  color: theme("colors.gray.800");
  font-weight: 300;
  @apply leading-loose text-base mb-4;
}

.blog-post h2 {
  color: theme("colors.gray.900");
  @apply font-black text-3xl mb-24;
}

.blog-post h3 {
  color: theme("colors.gray.900");
  @apply font-black text-2xl mb-4;
}

.blog-post ul > li {
  color: theme("colors.gray.900");
  @apply font-bold text-base mb-1;
}

.blog-post ol > li {
  color: theme("colors.gray.900");
  @apply font-bold text-base mb-1;
}

.blog-post li > a {
  @apply underline;
}

.blog-post .anchor.before {
  top: 25%;
}

.blog-post img {
  width: 90%;
  max-height: 25rem;
  object-fit: cover;
  @apply mx-auto mb-10 rounded;
}

@tailwind components;

@tailwind utilities;
