@tailwind base;

html {
}

h1 {
  color: theme("colors.gray.900");
  font-family: theme("fontFamily.display");
}

h2 {
  font-family: theme("fontFamily.display");
}

h3 {
  font-family: theme("fontFamily.display");
}

p {
  font-family: theme("fontFamily.body");
}

p a {
  @apply underline;
}

.title-font {
  color: theme("colors.gray.900");
  @apply font-black text-4xl mb-8;
}

.body-font {
  color: theme("colors.gray.800");
  font-weight: 300;
  @apply leading-loose text-base mb-4;
}

@tailwind components;

@tailwind utilities;
